.containerselect {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    align-content: center;
    /* background-color: yellow; */
}
.botonesnav {
    grid-column: 1/7;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(20px, auto);
    align-content: center;
    text-align: start;
    /* background-color: green; */
}

.filtros {
    grid-column: 4/7;
    grid-row: 1;
    /* background-color:red; */
    text-align:start;
    padding: 10px;
}

.filtros > select{
  height: 25px;
  width: 200px;
  margin-left: 30px;
}

.orden  {
    grid-column: 1/4;
    grid-row: 1;
    /* background-color: blueviolet; */
    text-align:start;
    padding: 10px;
}

.orden > select{
  height: 25px;
  width: 200px;
  margin-left: 30px;
}

.contenedornav{
    /* rgb(243, 11, 243,0.6); */
    background-color: rgb(87, 84, 87, 0.6);
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
    z-index:auto;
}