.buttonLanding {
  border-radius: 40%;
  font-size: 700%;
  background-color: transparent;
  cursor: pointer;
  border-style: none;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
.buttonLanding:hover {
  border-color: #646cff;
}
.buttonLanding:focus,
.buttonLanding:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @keyframes buttonLanding-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .buttonLanding {
    animation: buttonLanding-spin infinite 20s linear;
  }
} */