
.genres{
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(10px, auto);
  /* justify-content: justify; */
  background-color: black;
  opacity: 0.9;
  color:white;
  align-items: right; 
  border-radius: 3%;
  flex-wrap: wrap;
  
}

.genres > div {
  height: 20px;
  width: 180px
}

/* .Action{
  grid-column: 1;
    grid-row: 1;
}

.Arcade{
  grid-column: 1;
    grid-row: 2;
}
.Adventure{
  grid-column: 1;
    grid-row: 4;
}
.Massively-Multiplayer{
  grid-column: 2;
    grid-row: 4;
} */
.labelgenres{
            color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            font-size: 22px;
            font-weight: bold;
          }
.crear{
  gap: 100px
}
.inputcrear{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(10px, auto);
  align-items: center;
  background-color: black;
  opacity: 0.9;
  color:white;
  align-items: center;
  border-radius: 3%;
  
}

