.divAbout{
  /* position: relative;
  display:inline-flex;
  flex-direction: column;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
}
.video{
  padding: 8px;
  background-color: black;
  border-radius: 5%;
  border-style: solid;
  border-color: white;
  width: 500px;
  /* height: 24%;
  position: relative;
   top: -100%; */
  grid-column: 2/4;
  grid-row: 3;
  align-content: center;
  
}


.divFoto .fotoAbout{
   height: 200px;
   width: 180px;
   border-style: solid;
   margin: 10px;
   border-radius: 20%;
   /* position: absolute;
   top: 2%;
   left: 8%; */
}

.divFoto {
   /* height: 220px;
   width: 200px;
   margin: 10px;
   border-radius: 20%; */
   grid-column: 1;
   grid-row: 2;
}

.parrafoAbout{
   color: white;
   font-size: 100%;
   justify-content:space-between;
   width:300 px;
   text-align: center;
}

.containerAbout{
   padding: 10px;
   border-radius: 20%;
   border-style: solid;
   border-color: white;
   background-color: black;
   /* width: 50%;
   height: 50%; */
   /* position: absolute;
   top: 10%;
   left: 25%; */
   grid-column: 2 / 4;
   grid-row: 2;
}

h4{
   color: white;
   font-size: 14px;
   /* text-align: justify; */
}